<div class="main">
<!--  <router-outlet></router-outlet>-->

<div class="logo-container">
  <img class="logo" src="assets/images/tibil.png" alt="">
</div>
  <!--suppress ALL-->
  <div *ngIf="welcome" class="welcome">
    <div class="leftContainer">
      <div class="container-child">
        <h1 class="text">
          Mini
        </h1>
        <h1 class="text">
          Minds
        </h1>
        <button  (click)="welcomeClick()" class="arrowButton">
          <img class="arrow" src='assets/images/right_arrow.png' alt="">
        </button>
      </div>

    </div>
    <div class="rightContainer">
      <img class="welcomeImg" src="assets/images/binoculars_child.png">
    </div>

  </div>
  <!--suppress ALL-->
  <div class="sort"  *ngIf="sort">
    <div class="header">
      <div class="title">
        <label> <b> Topic Name: Sorting</b></label>
      </div>
      <h1 class="headerText">
        Arrange by age
        <audio #sortMyAudio>

          <source src="assets/images/arrange_by_age.mp3" type="audio/mpeg">
          Your browser does not support the audio element.
        </audio>
        <button class="speakerButton" (click)="sortPlayAudio()">
          <img class="speakerImg"  src="assets/images/Speaker_Icon.png" alt="">
        </button>
      </h1>
    </div>
    <div class="container-main">
      <div (dragover)="dragOver($event)" class="container-left">
        <!--suppress ALL-->
        <div [ngClass]="d.nextIndex == -1 ? 'hidden' : ''" draggable="true" (dragstart)="checkSortOrder(d)"  *ngFor="let d of data" class="selectCir">
          <!--&lt;!&ndash;      {{d.label}}&ndash;&gt; (click)="sourceClick(d)"-->
          <!--suppress ALL-->
          <img class="imgs" *ngIf="d.nextIndex !== -1" [src]="d.img" alt="">
        </div>
      </div>
      <div class="line">

      </div>
      <div (dragover)="dragOver($event)"   class="container-right">
        <!--suppress ALL-->
        <div   (dragstart)="sortedOrder(d)" (drop)="sortOnDrop($event, d)"  *ngFor="let d of destiny" class="selectedCir"  [ngClass]="d.img == '' ? 'circle': ''" >

          <!--suppress ALL-->
          <img class="selectedImg" *ngIf="d.img !== ''" [src]="d.img" alt="">

        </div>
      </div>
    </div>
  </div>
  <!--suppress ALL-->
  <div *ngIf="dataSet" class="dataSet">
    <div class="header">
      <div class="title">
        <label> <b> Topic Name: Data type</b></label>
      </div>
      <h1 class="headerText">
        What can you put in a glass
        <audio #myDataAudio>

          <source src="assets/images/plate_aud.mp3" type="audio/mpeg">
          Your browser does not support the audio element.
        </audio>
        <button class="speakerButton" (click)="playDataAudio()">
          <img class="speakerImg"  src="assets/images/Speaker_Icon.png" alt="">
        </button>
      </h1>
    </div>
    <div class="container-data-main">
      <div class="container-data-left" (dragover)="dragDataOver($event)">
        <!--suppress ALL-->

        <div draggable="true" (dragstart)="checkDataOrder(all[0])"   class="first" >
          <img class="dataImgs" [src]="all[0].img" alt="">
        </div>
        <div class="second">
          <!--suppress ALL-->
          <div draggable="true" class="secondLeft" (dragstart)="checkDataOrder(all[1])" >
            <img  class="dataImgs" [src]="all[1].img" alt="">
          </div>
          <!--suppress ALL-->
          <div draggable="true" class="secondRight" (dragstart)="checkDataOrder(all[2])" [ngClass]="all[2].color">
            <img  class="dataImgs" [src]="all[2].img" alt="">

          </div>
        </div>
      </div>
      <div class="line">

      </div>
      <div (dragover)="dragOver($event)"   class="container-data-right">
        <!--suppress ALL-->

        <div (drop)="onDrop($event)" class="secondContainer">
          <img  class="milk" [src]="moved.img" alt="">
        </div>
      </div>
    </div>
  </div>

  <!--suppress ALL-->
  <div class="face" *ngIf="face">
    <div class="header">
      <div class="title">
        <label> <b> Topic Name: Exception handling</b></label>
      </div>
      <h1 class="headerText">
        Find the happy face
        <audio #myFaceAudio>

          <source src="assets/images/happe_face_audio.mp3" type="audio/mpeg">
          Your browser does not support the audio element.
        </audio>
        <button class="speakerButton" (click)="playFaceAudio()">
          <img class="speakerImg"  src="assets/images/Speaker_Icon.png" alt="">
        </button>
      </h1>
    </div>
    <div class="container-main">
      <div class="emoji-container">
        <!--suppress ALL-->
        <ng-container *ngFor="let emoji of emojis; let i = index">
          <!--        <img-->
          <!--          [src]="emoji === 'happy' ? 'path_to_happy_emoji.png' : 'path_to_sad_emoji.png'"-->
          <!--          alt="Emoji"-->
          <!--        />-->
          <!--suppress ALL-->
          <div (click)="findSmile(emoji, '.img' + i)" class="img" >
            <img class="img {{'img' + i}}" [src]="emoji === 'happy'? 'assets/images/happy.png' : 'assets/images/sad.png'" alt="">

          </div>
        </ng-container>
      </div>

    </div>
  </div>
  <div id="myModal" class="modal" (click)="close()">
    <audio #mySuccessAudio>
      <source src="assets/images/success.mp3" type="audio/mpeg">
      Your browser does not support the audio element.
    </audio>
    <div class="imageView">
      <img class="succImg" src="assets/images/trophy1.gif" alt="">
    </div>
  </div>
  <div id="overlay" class="overlay"></div>

</div>

